body {
    font-family: Arial;
}

.btn1 {
    background-color: lightgrey;
    color: black;
    border: 2px solid black;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: solid;
    display: inline-block;
}

.btn2 {
    background-color: #C64429;
    color: white;
    border: white;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: solid;
    display: inline-block;
    border-radius: 8px;
}

.btn3 {
    font-size: 14px;
    background-image: url(../img/logo-tiktok.png);
    background-color: whitesmoke;
    background-size: 35px;
    color: grey;
    text-decoration: solid;
    padding: 15px 50px;
    display: inline-block;
    background-position-x: 2px;
    background-position-y: 5px;
    background-repeat: no-repeat;
}

.btn1:hover {
    transition: 1s;
    background-color: black;
    color: white;
}

.btn2:hover {
    transition: 1s;
    background-color: #c5543e;
}

.btn3:hover {
    transition: 1s;
    text-decoration: underline;
    background-image: url(../img/logo-tiktok.png);
    background-size: 40px;
}